/* animations.css */

/* Global animations */
@keyframes quickZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2); /* Quickly zoom to 3x size (approximately half screen) */
  }
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3); /* Slowly zoom to final size */
  }
}

@keyframes rotate {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

/* Keyframes for smooth movement */
@keyframes animateEarth1 {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(var(--max-scale)) rotate(0deg);
  }
  25% {
    transform: translateX(-20px) translateY(30px) scale(0.8) rotate(90deg);
  }
  50% {
    transform: translateX(30px) translateY(-20px)
      scale(calc(var(--max-scale) * 0.6)) rotate(180deg);
  }
  75% {
    transform: translateX(-25px) translateY(25px)
      scale(calc(var(--max-scale) * 0.9)) rotate(270deg);
  }
}

@keyframes animateEarth2 {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(var(--max-scale)) rotate(0deg);
  }
  25% {
    transform: translateX(25px) translateY(-25px) scale(1.1) rotate(-90deg);
  }
  50% {
    transform: translateX(-20px) translateY(20px) scale(0.9) rotate(-180deg);
  }
  75% {
    transform: translateX(30px) translateY(-20px) scale(var(--max-scale))
      rotate(-270deg);
  }
}

@keyframes animateEarth3 {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(var(--max-scale)) rotate(0deg);
  }
  25% {
    transform: translateX(-30px) translateY(20px) scale(var(--max-scale))
      rotate(120deg);
  }
  50% {
    transform: translateX(25px) translateY(-30px) scale(0.7) rotate(240deg);
  }
  75% {
    transform: translateX(-20px) translateY(25px) scale(1.2) rotate(360deg);
  }
}

@keyframes animateEarth4 {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(var(--max-scale)) rotate(0deg);
  }
  25% {
    transform: translateX(30px) translateY(-30px) scale(0.8) rotate(-120deg);
  }
  50% {
    transform: translateX(-25px) translateY(30px) scale(1.2) rotate(-240deg);
  }
  75% {
    transform: translateX(20px) translateY(-25px) scale(0.9) rotate(-360deg);
  }
}

@keyframes animateEarth5 {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(1) rotate(0deg);
  }
  25% {
    transform: translateX(-25px) translateY(30px) scale(0.9) rotate(60deg);
  }
  50% {
    transform: translateX(30px) translateY(-25px) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translateX(-30px) translateY(20px) scale(var(--max-scale)) rotate(300deg);
  }
}

@keyframes animateEarth6 {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(var(--max-scale)) rotate(0deg);
  }
  25% {
    transform: translateX(20px) translateY(-20px) scale(1.2) rotate(-60deg);
  }
  50% {
    transform: translateX(-30px) translateY(25px) scale(0.8) rotate(-180deg);
  }
  75% {
    transform: translateX(25px) translateY(-30px) scale(1.3) rotate(-300deg);
  }
}


@keyframes bgImageContactForm {
  0%,
  100% {
    transform: translateX(0) translateY(-1000px) scale(8) rotate(0deg);
  }
  25% {
    transform: translateX(0px) translateY(-1000px) scale(8) rotate(-60deg);
  }
  50% {
    transform: translateX(0px) translateY(-2000px) scale(5) rotate(-80deg);
  }
  75% {
    transform: translateX(0px) translateY(-3000px) scale(4) rotate(-300deg);
  }
}
