/* media.css */

/* Responsive styles */
@media (min-width: 0px) {
  .grid-container {
    grid-template-columns: 0fr 3fr 0fr;
  }

  .grid-item.content {
    grid-column: 2 / 3;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 0.5fr 3fr 0.5fr;
  }

  .grid-item.content {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 5fr 1fr;
  }

  .grid-item.content {
    grid-column: 2 / 3;
  }
}

@media (min-width: 700px) {
  .text-section-content {
    grid-template-columns: 1fr 1fr; /* Split into two columns for screens 700px and wider */
  }
}

 
@media (max-width: 599px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    margin: 0;
  }

  .contact-form-container button {
    width: 100%; /* Full-width button on small screens */
  }
}

/* Optional: Adjust the size for small screens */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Still large enough for smaller screens */
  }
  .main-section {
    min-height: 80vh; /* Slightly smaller min-height on mobile devices */
  }
}


@media (max-width: 550px) {
  header {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    text-align: center;
    margin-top: 5px; */

    display: flex;
    justify-content: center; /* Center the remaining nav items */
    align-items: center;
    margin-top: 5px; /* Reduced margin-top */
  }

  .logo.one-front {
    display: none; /* Hide the logo on small screens */
  }

  #zoom-in,
  #zoom-out {
    display: none; /* Hide the zoom-in and zoom-out buttons on small screens */
  }

  .one-front {
    display: block;
    text-align: center;
    margin-bottom: 10px; /* Add some space between the logo and the nav */
    white-space: nowrap;
    font-size: 24px;
  }

  .btn {
    margin: 5px
  }

  p {
    margin: 0
  }

  nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav ul li {
    /* display: block; */
    
    margin: 5px 0; /* Add some space between the navigation items */
  }

  nav ul li a, 
  nav ul li button {
    text-align: center;
    width: 100%; /* Ensure full width for each item */
    box-sizing: border-box;
    /* margin: 20px; */
   
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem; /* A bit smaller but won't collapse */
  }
}