/* media.css */

/* Responsive styles */
@media (min-width: 0px) {
  .grid-container {
    grid-template-columns: 0fr 3fr 0fr;
  }

  .grid-item.content {
    grid-column: 2 / 3;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 0.5fr 3fr 0.5fr;
  }

  .grid-item.content {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 5fr 1fr;
  }

  .grid-item.content {
    grid-column: 2 / 3;
  }
}

@media (min-width: 700px) {
  .text-section-content {
    grid-template-columns: 1fr 1fr; /* Split into two columns for screens 700px and wider */
  }
}

/* Responsive adjustments */
@media (max-width: 599px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    margin: 0;
  }

  .contact-form-container button {
    width: 100%; /* Full-width button on small screens */
  }
}